* {
  list-style: none;
  margin: auto;
  padding: 0px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.loading {
  font-size: 100px;
  font-weight: 600;
  height: 100vh;
  line-height: 100vh;
}
